/* The color pallete comes from here. */
/* https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */

header {
    background-color:#2A9D8F;
    display:grid;
    grid-template-columns: 150px auto;
}
#content {
    display:grid;
    grid-template-columns: 1fr;
}
nav {
    display:flex;
    justify-content:space-around;
}
nav a {
    display: table-cell;
    vertical-align: middle;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #396E94;
    /* display: flex; */
    justify-content: space-around;
    align-items:center;

}
footer .social img {padding-top: 15px;}

footer h3 {
    align-content:center;
}