body {
    font-family: Calibri;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display:grid;
    grid-template-columns: 150px auto;
}
nav {
    display:flex;
    justify-content: space-around;
}
#logo_link {
    padding-top:5px;
    justify-self: center;
    align-self: center;
}
#logo_link {padding-top: 5px;}
nav a {padding: 35px;}
nav a {
    text-align:center;
    text-decoration: none;
}
nav a:hover {
    background-color: #E9D8A6;
}
header {
    background-color: #94D2BD99;
}
.logo {
    width: 80px;
}