#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Text align several things */
nav a {
    text-align:center;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align:center;
}
.button-box {
    text-align:center;
}
main section {
    text-align:center;
}

#background {
    height: 725px;
}

/* adding background colors */
body {
    background-color: #005F73;
}
header {
    background-color: #94D2BD;
}
nav a:hover {
    background-color: #E9D8A6;
}
.book, .join {
    background-color: #94D2BD;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #E9D8A6;
}
#background {
    background-color: #94D2BD;
}
.msg {
    background-color: #94D2BD;
}
footer {
    background-color: #396E94;
}

/* changing some text colors */
footer h3 {
    color: #FFFFFF;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a {
    color: #FFFFFF;
    text-decoration: none;
}
footer a:hover {
    color: #FFFFFF;
}
.cards {
    color: #000000;
}

.logo {
    width: 80px;
}
.icons {
    width: 80px;
}
#hero-img {
    width: 100%;
}