body {
    font-family: Calibri;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #94D2BD;
}

#content header {
    display:grid;
    grid-template-columns: 150px auto;
    z-index: 1;
    background-color: #94D2BD99;
    grid-row: 1;
}
nav {
    display:flex;
    justify-content: space-around;
    color:blue;
    z-index: 2;
}
#logo_link {
    padding-top:5px;
    justify-self: center;
    align-self: center;
}
#logo_link {padding-top: 5px;}
nav a {padding: 35px;}
nav a {
    text-align:center;
    text-decoration: none;
}
nav a:hover {
    background-color: #E9D8A6;
}

.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
    margin-top: -100px;
    z-index:-1;
}
#hero-box {
    grid-column: 1/4;
    grid-row:2;
    margin-top: -100px;
}
#content {
    display:grid;
    grid-template-columns: 1fr;
}

.col3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:10px;
}

.col3 h1 {

    grid-column: 1/4;
    text-align:center;
}
.img-river {
    width: 275px;
    float:left;
}
#col2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:10px;
}
.msg h2 {font-family: 'Festive', cursive, sans-serif;}
.msg p {font-size: 0.8em;}
.msg {
    background-color: #396E94;
    line-height: 1.5em;
}
.msg {padding: 35px;}
.msg p {padding-bottom: 15px;}
.msg h2{
    font-family: 'Festive', cursive, sans-serif;
}
.join:hover {
    background-color: #E9D8A6;
}
.join {
    background-color: #94D2BD;
    padding:15px 30px;
    margin-top:50px;
    text-decoration: none;
    font-size:18px;
    border-radius: 5px;
}
section {
    text-align: center;
    margin: 30px 40px 30px 30px;
}
