body {
    font-family: Calibri;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* grid items */
header {
    display:grid;
    grid-template-columns: 150px auto;
}
nav {
    display:flex;
    justify-content: space-around;
}
#logo_link {
    padding-top:5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row:1/3;
    z-index:-1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row:1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color:white;
}




h2 {margin: 0;}
.home-title {
    font-family: 'Festive', cursive, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {font-family: 'Festive', cursive, sans-serif;}
.msg p {font-size: 0.8em;}
.msg {
    background-color: #396E94;
    line-height: 1.5em;
}
.rivers-card, .camping-card, .rapids-card {margin: 200px 0;}

#logo_link {padding-top: 5px;}
nav a {padding: 35px;}
.book, .join {
    padding: 15px 30px;
    margin-top: 50px;
    background-color: #94D2BD;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;    
}
.card-img {border: 10px;}
main section img {box-sizing: border-box;}
.icon {padding-top: 10px;}
.msg {padding: 35px;}
.msg p {padding-bottom: 15px;}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #396E94;
    display: flex;
    justify-content: space-around;
    align-items:center;

}
footer .social img {padding-top: 15px;}
/* Text align several things */
nav a {
    text-align:center;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align:center;
}
.button-box {
    text-align:center;
}
main section {
    text-align:center;
}

#background {
    height: 725px;
}

/* adding background colors */
body {
    background-color: #005F73;
}
header {
    background-color: #94D2BD99;
}
nav a:hover {
    background-color: #E9D8A6;
}
.book:hover, .join:hover {
    background-color: #E9D8A6;
}
#background {
    background-color: #94D2BD;
}
.msg h2{
    font-family: 'Festive', cursive, sans-serif;
}


/* changing some text colors */
footer h3 {
    color: #FFFFFF;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a {
    color: #FFFFFF;
    text-decoration: none;
}
footer a:hover {
    color: #FFFFFF;
}
.cards {
    color: #000000;
}

.logo {
    width: 80px;
}
.icons {
    width: 80px;
}
#hero-img {
    width: 100%;
}

.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card-img, .mountains {
    width:100%;
}
.rivers-card {
    grid-row:2/3;
    grid-column: 2/4;
}
.camping-card {
    grid-row: 2/3;
    grid-column: 5/7;
}
.rapids-card {
    grid-row: 2/3;
    grid-column: 8/10;
}
#background {
    grid-row: 4/9;
    grid-column:1/11;
}
.mountains {
    grid-row: 5/8;
    grid-column: 2/7;
}
.msg {
    grid-row: 6/7;
    grid-column: 6/10;
}
.card-img {
    border:10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}